<!DOCTYPE html>
<html>
<head>
  <title>Install Page</title>
</head>
<body>

  <header>
  	<h2>Login to EasyDash</h2>
  </header>

	<section id="myshopify_login_section">
	  <div class="card">
		  <form method="GET" action="login">
		    <label>Type shop name:</label>
	  		<div class="input-group">
			    <input id="myshopify_login" type="text" name="shop" placeholder="your-store.myshopify.com" value=""/>
			    <button type='submit'>Login</button>
			  </div>
		  </form>
	  </div>
	</section>

</body>
</html>