<div class="wittyEDSidebar">
  
  <!-- Panel - Main -->
  
  <section class="wittyEDEditorMain" component="UI.PanelContainer" context="UI_PanelContainer_Main">
    <header class="theme-editor__header theme-editor__header--no-shadow">
      <h2 class="wittyEDLogoHeading ui-heading theme-editor__heading" data-bind="editor.sectionName(sectionId)">
      	<%= render partial: 'svg_logo_dark' %>
      </h2>
    </header><!-- .theme-editor__header -->
    <div class="wittyEDPanelBody" data-scrollable="">
      <div class="wittyEDTopButtons"> 
        <button class="sidebyside_large primary">Edit Product</button>
        <button class="sidebyside_small warning icon-trash"></button>
      </div>
      <h3 class="ui-subheading ui-subheading--subdued theme-editor__subheading">Choose your option</h3>
      <article class="next-card theme-editor__card">
        <div class="card has-sections">
          <div class="card-section">
            Blog Post
            <button class="select-sim" type="button">Select</button>
            <div class="select-sim-dropdown-container">
            	<div class="search container">
            		<div class="search-container">
            			<i class="icon-search"></i>
		            	<input type="text" name="blog-search" placeholder="">
		            </div>
		            <ul class="select-sim-dropdown">
		            	<% for article in @articles.take(8) %>
		            		<li>
		            			<a href="#" data-handle="<%= article.handle %>">
		            				<%= article.title %>
		            			</a>
		            		</li>
		            	<% end %>
		            </ul>
		            <div class="arrow-navigation">
		            	<button class="secondary icon-prev"></button>
		            	<button class="secondary icon-next"></button>
		            	<div style="clear:both;"></div>
		            </div>
		          </div>
	          </div>
          </div>
          <hr/>
          <div class="card-section">
            Collection
            <select><option>Select</option></select>
          </div>
          <hr/>
          <div class="card-section">
            Page
            <select><option>Select</option></select>
          </div>
          <hr/>
          <div class="card-section">
            Product
            <select><option>Select</option></select>
          </div>
        </div>
      </article><!-- .next-card -->
    </div><!-- .wittyEDPanelBody -->
  </section><!-- .wittyEDEditorMain -->
</div>