<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: "Home",
      icon: "<%= asset_path('faveicon.png') %>"
    });
  });
</script>
<div class="container" style="padding: 50px;">
  <section>
    <article style="margin:0;">
      <div>
        <div class="alert success" style="margin:0;">
          <dl>
            <dt><%= if @logged_in then 'App installed successfully! ' end %>Thanks for downloading EasyDash!</dt>
            <dd>Everything’s ready for you to start saving time using EasyDash. Just visit your <a href="https://<%= @shop_session.url %>">website</a> and click on the EasyDash sidebar button (on the left side of the screen) to get started.</dd>
          </dl>
        </div>
      </div>
    </article>
  </section>
  <section style="margin-top: 2rem;">
    <aside style="padding:0;">
      <h2 style="padding-top:0;">Experiencing an issue?<br> Switched to a new theme?</h2>
    </aside>
    <article style="margin:0;">
      <div class="card" style="margin:0;">
        <p>If you’re experiencing any issue using EasyDash, it can likely be resolved by syncing the app with your store again.<p>
        <p>Click on the “Sync Store” button below and <a href="mailto:apps@wittycreative.com">reach out</a> to us if you still experience any issues.</p>
        <button id="syncStore" type="button">Sync Store</button>
      </div>
    </article>
  </section>
  <section style="margin-top: 2rem;">
    <aside style="padding:0;">
      <h2 style="padding-top:0;">Loving EasyDash?<br> Submit a review.</h2>
    </aside>
    <article style="margin:0;">
      <div class="card" style="margin:0;">
        <p>Is EasyDash saving you tons of time and making managing your Shopify store easier? We’d love it if you’d consider submitting a positive review on the Shopify App Store so we can continue to make EasyDash even better.</p>
        <p>If EasyDash isn’t living up to your expectations, please <a href="mailto:apps@wittycreative.com">reach out</a> and let us know what we can do to improve it.</p>
        <a class="button" href="https://apps.shopify.com/easy-dashboard-and-editor" target="_blank">Leave a Positive Review</a>
      </div>
    </article>
  </section>
</div>