<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: "Home",
      icon: "<%= asset_path('faveicon.png') %>"
    });
  });
</script>
<div class="container" style="padding: 50px;">
  <section>
    <article style="margin:0;">
      <div>
        <div class="alert success" style="margin:0;">
          <dl>
            <dt><%= if @logged_in then 'App installed successfully! ' end %>Thanks for downloading EasyDash!</dt>
            <dd>Everything’s ready for you to start saving time using EasyDash. Just visit your <a target="_blank" href="https://<%= @shop_session.url %>">website</a> and click on the EasyDash sidebar button (on the left side of the screen) to get started.</dd>
          </dl>
        </div>
      </div>
    </article>
  </section>
  <section style="margin-top: 2rem;">
    <aside style="padding:0;">
      <h2 style="padding-top:0;">Experiencing an issue?<br> Switched to a new theme?</h2>
    </aside>
    <article style="margin:0;">
      <div class="card" style="margin:0;">
        <p>If you’re experiencing any issue using EasyDash, it can likely be resolved by syncing the app with your store again.<p>
        <p>Click on the “Sync Store” button below and <a class="reach-out" href="mailto:apps@wittycreative.com">reach out</a> to us if you still experience any issues.</p>
        <button id="syncStore" type="button">Sync Store</button>
      </div>
    </article>
  </section>
  <section style="margin-top: 2rem;">
    <aside style="padding:0;">
      <h2 style="padding-top:0;">Loving EasyDash?<br> Submit a review.</h2>
    </aside>
    <article style="margin:0;">
      <div class="card" style="margin:0;">
        <p>Is EasyDash saving you tons of time and making managing your Shopify store easier? We’d love it if you’d consider submitting a review on the Shopify App Store so we can continue to make EasyDash even better.</p>
        <p>If EasyDash isn’t living up to your expectations, please <a class="reach-out" href="mailto:apps@wittycreative.com">reach out</a> and let us know what we can do to improve it.</p>
        <a class="button" href="https://apps.shopify.com/easy-dashboard-and-editor" target="_blank">Leave a Review</a>
      </div>
    </article>
  </section>
  <section style="margin-top: 2rem;">
    <h4 style="margin-bottom:0;">FAQs</h4>
  </section>
  <section class="faq" style="margin-top: 2rem;">
    <h6 class="accordion-trigger" data-group="faqs" data-accordion="2">Why aren't my changes appearing on my site?</h6>
    <div class="card accordion-target" data-group="faqs" data-accordion="2" style="display:none;">
      <p class="no_margin">Changes made to your store will only be applied to your site when you hit the save button. If you still don't see them, hit refreash next to the save button and that should rectify the issue.</p>
    </div>
  </section>
  <section class="faq" style="margin-top: 2rem;">
    <h6 class="accordion-trigger" data-group="faqs" data-accordion="0">Are description images handled differently on EasyDash?</h6>
    <div class="card accordion-target" data-group="faqs" data-accordion="0" style="display:none;">
      <p class="no_margin">Short answer, yes. <a target="_blank" href="https://witty.zendesk.com/hc/en-us/articles/115001242231-Are-description-images-handled-differently-on-EasyDash-">Click here for more details.</a></p>
    </div>
  </section>
  <section class="faq" style="margin-top: 2rem;">
    <h6 class="accordion-trigger" data-group="faqs" data-accordion="1">Am I still able to set future publish dates for products, collections, blog posts and pages on EasyDash?</h6>
    <div class="card accordion-target" data-group="faqs" data-accordion="1" style="display:none;">
      <p class="no_margin">You can set future publish dates in EasyDash but the publish dates are stored on our server, instead of Shopify’s, and then published at the date you chose when it arrives. <a target="_blank" href="https://witty.zendesk.com/hc/en-us/articles/115001242191">Click here for more details.</a></p>
    </div>
  </section>
</div>