<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: "Home",
      icon: "<%= asset_path('faveicon.png') %>"
    });
  });
</script>
<section style="margin-top: 2rem;">
  <article>
    <div class="card">
      <h1 style="margin: 0;text-align: center;">Coming Soon!</h1>
    </div>
  </article>
</section>