<div class="email">
	<h2>Thank you for using EasyDash</h2>
	<p>Donec faucibus corporis senectus ipsum suscipit dolores sunt voluptates senectus, aliquip aliqua mi non feugiat, placeat pharetra taciti, nulla tristique, pede integer, urna litora litora.</p>
</div>