<div class="email">
	<h2>Thank you for using EasyDash</h2>
	<% if @shop.images.size > 0 %>
		<p>We have stored your description images in a theme titled "Easy Dash Images".</p>
		<ul>
			<% for image in @shop.images %>
				<li><%= image.name %></li>
			<% end %>
		</ul>
	<% end %>
</div>