<article>
  <div class="card">
    <div class="row">
      <h5>Page details</h5>
      <label>Title</label>
      <input type="text" placeholder="e.g. Contact us, Sizing chart, FAQs" />
    </div>
    <div class="row no_margin">
      <label>Content</label>
      <textarea></textarea>
    </div>
  </div>
</article>
<article>
  <a href="#" class="theme-editor-action-list__item" data-bind-event-click="action("openSectionPanel", "section-seo")" draggable="false">
    <div class="card">
      <h5>Search engine listing preview</h5>
      <!-- <button class="btn--link top-right">Edit website SEO</button> -->
      <p>Add a title and description to see how this page might appear in a search engine listing.</p>
      <button class="secondary">Edit website SEO</button>
      <!-- <button class="btn btn--plain icon-next dark" type="button" name="button"></button> -->
    </div>
  </a>
</article>
<article>
  <div class="card secondary">
    <h5>Visibility</h5>
    <div class="divider"></div>
    <div class="row no_margin">
      <label class="extra_margin"><input type="radio" name="option1" checked="checked">Visible <span class="subdued">(as of 2017-02-24 10:46pm EST)</span></label>
      <label class="extra_margin"><input type="radio" name="option1">Hidden</label>
      <a href="">Set a specific publish date</a>
    </div>
  </div>
</article>
<article>
  <div class="card secondary">
    <h5>Template</h5>
    <label class="extra_margin">Select a template for this page.</label>
    <select class="secondary">
      <option>page</option>
      <option>page.contact</option>
    </select>
  </div>
</article>
<div class="wittyEDBottomButtons">
  <!-- <button class="secondary red btn_bottom">Delete page</button> -->
  <button class="warning btn_bottom">Delete page</button> 
</div>