<article>
  <div class="card product_images">
    <div class="row">
      <a style="display: inherit; margin-bottom: 1rem;" href="">Add images from URL</a>
      <a href="">Add images</a>
      <div class="column twelve">
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350"/>
      </div>
    </div>
    <div class="row">
      <div class="columns one-half">
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350"/>
      </div>
      <div class="columns one-half">
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350"/>
      </div>
    </div>
    <div class="row">
      <div class="columns one-half">
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350"/>
      </div>
      <div class="columns one-half">
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350"/>
      </div>
    </div>
    <div class="row">
      <div class="columns one-half">
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350"/>
      </div>
      <div class="columns one-half">
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350"/>
      </div>
    </div>
    <div class="row">
      <div class="columns one-half">
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350"/>
      </div>
      <div class="columns one-half">
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350"/>
      </div>
    </div>
    <div class="row">
      <div class="columns one-half">
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350"/>
      </div>
      <div class="columns one-half">
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350"/>
      </div>
    </div>
    <div class="row link">
      <a href="" class="type--centered">Show all images</a>
    </div>
  </div>
</article>