<h3 class="ui-subheading ui-subheading--subdued theme-editor__subheading">Or choose another option</h3>
<input type="hidden" id="target_attr" data-target="">
<article class="next-card">
  <div class="card has-sections no_margin">
    <div class="card-section">
      Blog Post
      <button class="select-sim" type="button">Select</button>
      <%= dropdown 'blog', '' %>
    </div>
    <hr/>
    <div class="card-section">
      Collection
      <button class="select-sim" type="button">Select</button>
      <%= dropdown 'collection', '' %>
    </div>
    <hr/>
    <div class="card-section">
      Page
      <button class="select-sim" type="button">Select</button>
      <%= dropdown 'page', '' %>
    </div>
    <hr/>
    <div class="card-section">
      Product
      <button class="select-sim" type="button">Select</button>
      <%= dropdown 'product', '' %>
    </div>
  </div>
</article><!-- .next-card -->