<div class="wittyEDTopButtons theme-editor__header"> 
  <button class="sidebyside_85 primary">Edit Product</button>
  <button class="sidebyside_15 warning icon-trash tip" data-hover="Delete Product"></button>
</div>
<h3 class="ui-subheading ui-subheading--subdued theme-editor__subheading">Or choose another option</h3>
<article class="next-card">
  <div class="card has-sections no_margin">
    <div class="card-section">
      Blog Post
      <select><option>Select</option></select>
    </div>
    <hr/>
    <div class="card-section">
      Collection
      <select><option>Select</option></select>
    </div>
    <hr/>
    <div class="card-section">
      Page
      <select><option>Select</option></select>
    </div>
    <hr/>
    <div class="card-section">
      Product
      <select><option>Select</option></select>
    </div>
  </div>
</article><!-- .next-card -->