<article>
  <div class="card">
    <div class="row">
      <p class="extra_margin">Add variants if this product comes in multiple versions, like different sizes or colors.</p>
      <label>Option name</label>
      <input class="extra_margin" type="text" value="Size"/>
      <label>Option values</label>
      <input type="text" placeholder="Separate options with a comma"/>
    </div>
    <div class="divider" style="margin-left: 0; margin-right: 0;"></div>
    <button type="button" class="secondary">Add another option</button>
  </div>
</article>